
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 2.8vh;
}
*, *::before, *::after{
    box-sizing: border-box;
}
@media(max-width: 768px)
{
	html{
	    font-size: 1.8vh;
	}
}
@media(max-width: 1024px)
{
	html{
	    font-size: 2.3vh;
	}
}
body{
    font-family: "Noto Serif", serif;
    font-weight: 400;
    text-align: center;
}
.container{
    background-color: #5A5A5A;
    height: 97vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container > div{
    background-color:#FFF;
    color: #000000;
    height: 80%;
    width: calc(0.8 * 0.8 * 97vh);
    max-width:90%;
    border: solid 1px;
    border-radius: 10%;
}
@media(max-width: 768px)
{
    .container > div{
        height: 75%;
    }
}
.minor{
    padding: 0.6rem;
    width: 100%;
    position: absolute;
}
.minor span{
    color: #fff;
    display: inline-block;
    width: 48%;
    font-size: 0.65rem;
}
@media(max-width: 1024px) {
    .minor span{
        font-size: 0.5rem;
    }
}
@media(max-width: 768px) {
    .minor span{
        font-size: 0.45rem;
    }
}
.background-overlay{
    border-radius: 10% 10% 25% 25%;
    background-color: #b92f4d;
    position: relative;
    border-bottom: solid;
    height:35%;
}
img{
    position: absolute;
    display:block;
    bottom: -36%;
    left: 0;
    right: 0;
    margin: auto;
    height: 72%;
    width: auto;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size:1.3rem;
    margin: 0;
    padding: 0 1.2rem;
    padding-top: calc(97vh * 0.8 * 0.35 * 0.36);
}
h4{
    font-weight: 300;
    font-size:0.8rem;
    padding: 0 1.2rem;
}
h1, h4{
    margin: 0.6rem 0 0 0;
}
p{
    padding: 0 1.2rem;
    font-size: 0.6rem;
    line-height: 1.7;
}
.added-details{
    border-top: solid #b92f4d 0.1px;
    border-bottom:solid #b92f4d 0.1px;
    margin-bottom: 1.2rem;
}
.added-details span{
    padding: 0.8rem 1.2rem;
    display: inline-block;
    font-size: 0.6rem;
    width: 48%;
}
.added-details :last-child{
    border-left: solid #b92f4d 0.1px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.social-links > a{
    display: block;
}
.social-links{
    padding: 0 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}
.social-links i{
    color:#b92f4d;
    font-size: 1.3rem;
}
.social-links i:hover{
    color: #f70e41;
}