html{
    box-sizing: border-box;
    font-size: 2.5vh;
}
@media(max-width: 768px)
{
	html{
	    font-size: 2.1vh;
	}
}
@media(max-width: 1024px)
{
	html{
	    font-size: 2.2vh;
	}
}
body{
    text-align: center;
    color: #fff;
    background-color: #6f047e;
}
/*@media(max-width: 1024px){
    body{
        font-size: 1.4vw;
    }
}
@media (max-width: 768px){
    body{
        font-size: 1.6vw;
    }
}*/
.container{
    height: 97vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container > div{
    background-color: #24213c;
    height: 80%;
    width: calc(0.8 * 0.8 * 97vh);
    max-width:80%;
    border: solid 1px;
    border-radius: 4%;
}
.minor{
    padding:1rem;
    position: absolute;
}
.minor span{
    font-size: 0.6rem;
}
/*@media(max-width: 1024px){
    .container > div{
        width: 60%;
        height:80%;
    }
}
@media(max-width: 768px){
    .container > div{
        width: 90%;
        height: 55%;
    }
}
@media(max-width: 360px){
    .container > div{
        width: 90%;
        height: 50%;
    }
}*/
.background-overlay{
    border-bottom: solid;
    height:20%;
}
img{
    position: relative;
    display:block;
    bottom:-50%;
    height: 100%;
    width: auto;
    margin: auto;
}
.content{
    padding: 0 1.2rem 0 1.2rem;
}
h1{
    font-size:1.5rem;
    margin: 0;
    padding-top: calc(97vh * 0.8 * 0.25 * 0.5);
}
h4{
    font-size:0.9rem;
}
h1, h4{
    margin: 0.18rem 0 0 0;
}
p{
    font-size: 0.8rem;
    line-height: 1.7;
}
.added-details{
    margin-bottom: 1.5rem;
}
.added-details span{
    display: inline-block;
    font-size: 0.8rem;
    width: 50%;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.social-links > a{
    display: block;
}
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}
.social-links i{
    color:#fff;
    font-size: 1.5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}
